
.btn-add-section {
    position: absolute;
    left: 0;
}

a.badge.badge-info {
    font-size: 1.1rem;
    position: absolute;
    top: 8px;
    left: -15px;
    height: 35px;
    width: 35px;
    border-radius: 22.25px;
    line-height: 37px;
    padding: 0;
}
