/* Utilitaire pour development */
body{
    &::after {
        z-index: 99999;
        position: absolute;
        top: 0;
        right: 50%;
        height: 100%;
        width: 3px;
        //background: red;
        content: " ";
    }
}

.text{
    &-xl{
        font-size: 18px;
    }
    &-m{
        font-size: 15px;
    }
    &-sm{
        font-size: 14px;
    }
    &-xs{
        font-size: 12px;
    }
}

.text{
    &-white{
        color: var(--di-body-color);
    }
}


/* Width */
::-webkit-scrollbar:hover {
    //width: var(--di-scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
    //background-color: var(--di-scrollbar-track-bg);
    //transition: background .2s linear;
    //border-radius: var(--di-scrollbar-border-radius)
}

/* Handle */
::-webkit-scrollbar-thumb {
    //background-color: var(--di-scrollbar-thumb-bg);
    //border-radius: var(--di-scrollbar-border-radius);
    //transition: background .2s linear;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    //background: var(--di-scrollbar-thumb-bg-hover);
}


