.col-md-3 > a {
  text-decoration: none;
}
.col-md-3 > a:hover > .card {
  background: rgba(var(--di-black-rgb), 0.7) !important;
}

@font-face {
  font-family: "Minecraft";
  src: url("../fonts/Minecraft.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: normal;
  font-family: var(--di-main-font);
}

h1, .h1,
h2, .h2 {
  font-size: 32px;
  font-weight: 900 !important;
  text-transform: uppercase;
}

h3, .h3 {
  font-size: 24px;
  font-weight: 600 !important;
  text-transform: uppercase;
}

.h5, .h4 {
  font-size: 18px;
  text-transform: uppercase;
}

p {
  line-height: 1.4;
}

p,
small,
li {
  font-family: var(--di-second-font);
  letter-spacing: 0.5px;
}

hgroup p {
  font-size: 18px;
}

.text-xxl {
  font-size: 42px;
}
.text-3xl {
  font-size: 32px;
}
.text-2xl {
  font-size: 28px;
}
.text-xl {
  font-size: 24px;
}
.text-1xl {
  font-size: 20px;
}
.text-lg {
  font-size: 18px;
}
.text-md {
  font-size: 16px;
}
.text-m {
  font-size: 15px;
}
.text-sm {
  font-size: 14px;
}
.text-xs {
  font-size: 12px;
}

.ff-main {
  font-family: var(--di-main-font);
}

a {
  color: var(--di-white);
}

.anim_text-up, .nav-link:hover, header .nav-link:not(.active):hover {
  transform: translateY(-4%);
}

.state-point {
  position: relative;
  display: grid;
  place-items: center;
  width: 8px;
  height: 8px;
  border-radius: 500%;
  background-color: #B6FF76;
}
@keyframes outline-width {
  from {
    outline-width: 1px;
  }
  to {
    outline-width: 3px;
  }
}
.state-point:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-color: #B6FF76;
  border-radius: 500%;
  animation: point-width 1.5s ease-in infinite;
}
@keyframes point-width {
  from {
    transform: scale(0.5);
    opacity: 0.65;
  }
  to {
    transform: scale(1.3);
    opacity: 0;
  }
}

.text-initial {
  text-transform: initial;
}

.text-white {
  color: var(--di-body-color);
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.z-6 {
  z-index: 6;
}

.z-7 {
  z-index: 7;
}

.z-8 {
  z-index: 8;
}

.z-9 {
  z-index: 9;
}

.z-10 {
  z-index: 10;
}

.-z-1 {
  z-index: -1;
}

.-z-2 {
  z-index: -2;
}

.-z-3 {
  z-index: -3;
}

.-z-4 {
  z-index: -4;
}

.-z-5 {
  z-index: -5;
}

.-z-6 {
  z-index: -6;
}

.-z-7 {
  z-index: -7;
}

.-z-8 {
  z-index: -8;
}

.-z-9 {
  z-index: -9;
}

.-z-10 {
  z-index: -10;
}

.after-none::after, #notificationsDropdown::after,
#userDropdown::after {
  content: none;
}

.typewriter {
  min-width: 230px;
}
.typewriter::after {
  content: "|";
  display: inline-block;
  animation: blink 0.7s steps(5, start) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
/* Width */
/* Track */
/* Handle */
/* Handle on hover */
.page-height {
  z-index: 99;
  top: 0;
  position: sticky;
  height: var(--page-height-bar);
  background: var(--page-bg-bar);
}

.page-height:before {
  content: "";
  position: absolute;
  background: var(--page-color-bar);
  width: 0;
  height: var(--page-height-bar);
  animation-name: grow;
  animation-timeline: scroll();
}

@keyframes grow {
  to {
    width: 100%;
  }
}
header:has(.navbar-toggler[aria-expanded=true]) {
  background: var(--di-dark);
}

@media (max-width: 767px) {
  .nav-logo {
    height: 24px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .nav-socials {
    display: none;
  }
}
.nav-item i {
  display: grid;
  place-items: center;
  width: 24px;
  height: 24px;
}

.nav-item i::before {
  font-size: 24px;
}

.nav-item .btn {
  padding: 16px !important;
}

.social {
  height: 32px;
  width: 32px;
  padding: 4px;
  background: var(--social-color);
  border-radius: var(--di-border-radius);
  color: #fff;
  transition: transform 0.1s linear;
}

.social:hover {
  background: var(--social-color-opacity);
  transform: translateY(-2%);
}

.stat-card {
  width: 100%;
}

@media (min-width: 576px) {
  .stat-card {
    width: calc(50% - 16px);
  }
}
@media (min-width: 767px) {
  .stat-card {
    width: 300px;
  }
}
.discord-section {
  max-width: 714px;
}

.events-wrapper {
  width: 100%;
}

@media (min-width: 1024px) {
  .events-wrapper {
    min-width: 534px;
    max-width: 534px;
  }
}
.trust-icon {
  min-width: 48px;
  height: 48px;
}

.trust-icon i {
  font-size: 32px;
}

body:has(#plug) .hero {
  height: 50lvh;
}

.hero {
  height: calc(100lvh - 92px - 32px);
  border-bottom: var(--di-dark) 16px solid;
}

.hero-carousel, .hero .carousel, .hero .carousel-inner, .hero .carousel-item {
  width: 100%;
  height: 100%;
}

.hero-carousel img, .hero .carousel img, .hero .carousel-inner img, .hero .carousel-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-join__button {
  border-radius: 8px;
  background-color: var(--di-dark);
  padding: 16px;
}

.hero-connected {
  display: inline-flex;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #A1FB23;
  animation: flash ease-in-out 2.5s infinite;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

@keyframes flash {
  0% {
    box-shadow: 0 0 0 0 #BEFF62;
  }
  75% {
    box-shadow: 0 0 0 4px rgba(190, 255, 98, 0);
  }
  100% {
    box-shadow: 0 0 rgba(190, 255, 98, 0);
  }
}
header .nav-link {
  position: relative;
  color: var(--di-white);
  transition: transform 0.3s;
  border-radius: 8px;
  padding: 8px 10px;
  border: transparent 1px solid;
}
header .nav-link:not(.active):hover {
  border-color: rgba(var(--di-white-rgb), 0.35);
}
header .nav-link.active {
  background-color: rgba(var(--di-white-rgb), 0.1);
}
@media (max-width: 1200px) {
  header .nav-link {
    padding: 8px 16px;
  }
}
header #navbarDropdown-auth {
  border-bottom: unset;
}

.announce-bar > * {
  margin: 0;
}

#vote .vote-top__row td, #vote .vote-top__row th {
  background-color: rgba(var(--di-top-vote-one-rgb), 0.17) !important;
}
#vote .vote-top__row:hover td, #vote .vote-top__row:hover th {
  background-color: rgba(var(--di-top-vote-one-rgb), 0.2) !important;
}
