$body-bg-dark: #070d18 !default;
$body-color-dark: #ebf3ff !default;
$body-secondary-color-dark: #a8bbda !default;
$body-tertiary-color-dark: #889dbe !default;
$border-color-dark: #2d4268 !default;

$card-bg-dark: #152039 !default;
$dropdown-bg-dark: #152039 !default;
$dropdown-link-color-dark: #ebf3ff !default;
$dropdown-link-hover-bg-dark: #1e2d49 !default;

$input-bg-dark: #101a2d !default;
$input-border-color-dark: #2d4268 !default;
$input-color-dark: #ebf3ff !default;
