footer {
    @media (max-width: 767px) {
        .btn-social{
            font-size: 14px;
            max-width: 28px;
            max-height: 28px;
        }
    }
    .copyright {
        p {
            font-weight: 300;
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
    .footer-link{
        @media (max-width: 767px) {
            font-size: 12px;
            font-weight: 300;
        }
    }
}

#footer {
    &-small {
        color: white;

        ul {
            margin-bottom: 0;
        }

        h2, p, li, a:not(.btn) {
            opacity: 0.8;
        }

        @media (max-width: 767px) {
            h2 {
                font-size: 13.659px
            }
            p, li, a:not(.btn) {
                font-size: 10.19px;
                line-height: 15.285px;
            }
        }
    }

    &-big {
        z-index: 3;
        height: fit-content;
        margin-top: 360px;
        border-top: 2px solid rgba(52, 58, 64, 0.50);
        background: rgba(33, 37, 41, 0.50);
        backdrop-filter: blur(15px);

        .footer-gradient-circle {
            bottom: -12%;
            height: 200px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 80%;
            z-index: -1;
        }

        .dixept{
            font-size: 14px;
            line-height: 18px;
        }

        hr{
            border-color: white;
        }

        .come-us{
            overflow: hidden;
            border-radius: 16px;
            border: 2px solid rgba(52, 58, 64, 0.50);
            background-color: rgba(22, 24, 26, 1);
            padding: 0;

            p{
                opacity: 0.8;
            }

            & > div:nth-child(1){
                background: linear-gradient(94deg, rgba(33, 37, 41, 0.50) 0%, rgba(17, 19, 21, 0.50) 99.84%);
                backdrop-filter: blur(40.75px);
                padding: 41.5px 49px;
            }
        }

        .footer-content{
            margin-top: 192px;

            .btn-social{
               width: 32px;
               height: 32px;
            }

            h3{
                font-size: 18px;
            }

            ul, p{
                margin-bottom: 0;
            }

            p{
                opacity: 0.8;
            }
        }

        @media (max-width: 767px) {
            .come-us{
                max-width: 80%;
                img{
                    height: 105px;
                }
               h2 {
                   font-size: 28.434px;
                   line-height: 37.912px;
               }
                p {
                    font-size: 9.478px;
                    line-height: 14.217px;
                }
                .btn {
                    font-size: 11.122px;
                }
                & > div:nth-child(1){
                    backdrop-filter: unset;
                }
            }
            .footer-content{
                h3{
                    font-size: 13.631px;
                    line-height: 21.204px;
                }
                p{
                    font-size: 12.117px;
                    font-style: normal;
                    line-height: 18.175px;
                }
            }
            margin-top: 300px;
        }
    }
}

@media (max-width: 767px) {
    footer {
        .w-50 {
            width: 80% !important;
        }
    }
}
