body {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    line-height: normal;
    font-family: var(--di-main-font, sans-serif);
}

h1, .h1,
h2, .h2{
    font-size: 36px;
    font-weight: 700 !important;
    text-transform: uppercase;

    @media (max-width: 992px) {
        font-size: 28px;
    }
}

h3, .h3{
    font-size: 20px;
    font-weight: 600 !important;
}

.h5, .h4 {
    font-size: 18px;
    text-transform: uppercase;
}

p {
    line-height: 1.4;


    @media (max-width: 992px) {
        font-size: 15px;
    }
}

p,
small,
li{
    letter-spacing: .5px;
}


small{
    display: block;
    font-size: 14px;
    line-height: 16px;
    text-transform: none;
    font-weight: 400;
}

hgroup{
    p{
        font-size: 18px;
    }
}

.text{
    &-4xl{
        font-size: 48px;
    }
    &-xxl{
        font-size: 42px;
    }
    &-3xl{
        font-size: 32px;
    }
    &-2xl{
        font-size: 28px;
    }
    &-xl{
        font-size: 24px;
    }
    &-1xl{
        font-size: 20px;
    }
    &-lg{
        font-size: 18px;
    }
    &-md{
        font-size: 16px;
    }
    &-m{
        font-size: 15px;
    }
    &-sm{
        font-size: 14px;
    }
    &-xs{
        font-size: 12px;
    }
}

.ff-main{
    font-family: var(--di-main-font, sans-serif);
}

a{
    color: var(--di-white)
}
