a {
    transition: color 0.235s linear;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $font-family-asul;
    text-align: center;
}

h1 {
    @extend .ornament-lg;
    padding-bottom: 1.5rem;
    margin: 0 auto 2rem auto;
    display: table;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
}

h5 {
    text-align: start;
}

.font-family-azul{
    font-family: $font-family-asul;
}
.font-family-mirza{
    font-family: $font-family-mirza;
}

.font-family-sans-serif {
    font-family: $font-family-sans-serif;
}
@each $key, $value in $grays {
    .text-gray-#{$key} {
        color: #{$value} !important;
    }
}
@each $key, $value in $yellows {
    .text-#{$key} {
        color: #{$value} !important;
    }
}

@each $key, $value in $purples {
    .text-#{$key} {
        color: #{$value};
    }
}
.text-gradient{
    background: linear-gradient(180deg,#c3a758,#6b521e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
//Font PenumbraSansStd
//@include font-face(#{$font-family-PenumbraSansStd}, '#{$font-path}#{$font-family-PenumbraSansStd}-Regular', $font-weight-normal, normal, otf);

