#vote{
    tbody > tr {
        td,th{
            background-color: rgba(var(--di-vote-rgb), var(--di-bg-opacity, 1)) !important;
            transition: background-color .2s linear;
        }

        &:hover{
            td,th{
                background-color: rgba(var(--di-vote-rgb), .17) !important;
            }
        }
    }


    .btn-icon{
        width: 2rem;
        height: 2rem;
    }
}
