@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap);
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueRoman.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueMedium.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBold.otf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
html {
  overflow-x: hidden;
}
html > * {
  box-sizing: border-box;
}

main:has(#vote) .app-background::after {
  background: linear-gradient(6deg, rgba(0, 40, 21, 0) 11.62%, rgba(0, 24, 14, 0) 43.42%), linear-gradient(359deg, #004023 -0.11%, rgb(0, 0, 0));
}

body {
  overflow-x: hidden;
  position: relative;
  font-family: "Helvetica Neue", serif;
  background: linear-gradient(180deg, #007644 0%, #004A2B 28%, #002E15 100%), radial-gradient(128.45% 35.37% at 110.63% 47.62%, #29BA85 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(43.25% 35.96% at -9.48% 67.32%, rgba(4, 193, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
body:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: radial-gradient(128.45% 35.37% at 110.63% 47.62%, #29BA85 0%, rgba(0, 0, 0, 0) 100%);
  top: 50%;
  right: 0;
  filter: blur(35px);
  transform: translateY(-50%);
}
body:before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: radial-gradient(43.25% 38.96% at 0% 67.32%, rgba(4, 193, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  top: 50%;
  left: 0;
  filter: blur(50px);
  transform: translateY(calc(2vh - 17%));
}

h1, h2 {
  color: #FFFFFF !important;
  text-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.168627451);
}

h2 {
  font-size: clamp(24px, 2vw, 28px);
}

h3 {
  font-size: clamp(22px, 2vw, 24px);
  line-height: clamp(26px, 2vw, 29px);
  font-weight: 700;
}

.text-xs {
  font-size: 12px;
}
.text-sm {
  font-size: 14px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.text-white {
  color: white;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.box-sizing {
  border: solid 1px transparent;
}

.text-tertiary-gradient {
  background-color: #f3ec78;
  background-image: linear-gradient(138deg, #F2D100 8.18%, #E69900 68.98%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  line-height: 40px;
}

.table-dark {
  --bs-table-color: #fff;
  --bs-table-bg: #041C0F;
  --bs-table-striped-bg: #093b1a;
  border-color: var(--bs-table-border-color);
}

.table {
  --bs-table-color: var(--bs-body-color);
  --bs-table-bg: rgba(4, 28, 15, 0.83);
  --bs-table-striped-bg: #093821;
  vertical-align: center;
  border-color: var(--bs-table-border-color);
}

table thead th {
  background: #082D18 !important;
  border: unset;
  font-weight: 400;
  color: #BAD7BA !important;
}

.card, .card-footer {
  background: unset;
  border: unset !important;
  border-radius: unset;
}

.card {
  background: linear-gradient(118.02deg, #00391a 32.86%, #002c15 96.83%);
  box-shadow: 0px 40px 27.6px 0px rgba(0, 0, 0, 0.2509803922);
}

.card-wrapper-shadow {
  background: linear-gradient(169.97deg, #002616 -30.33%, #003217 92.48%);
}

.card-gradient-from-bottom {
  background: linear-gradient(169.97deg, #000201 -30.33%, #003217 92.48%);
}
.card-gradient-from-bottom-content {
  background: linear-gradient(169.97deg, #021409 -30.33%, #092e14 92.48%);
}

.card-shadow {
  box-shadow: 0px 40px 27.6px 0px rgba(0, 0, 0, 0.2509803922), 0px 18px 0px 0px #016C3E;
}

.card-bottom-shadow {
  box-shadow: 0px 10px 0px 0px #016C3E;
}

.gradient-left-100 {
  background: linear-gradient(95.42deg, #005429 -0.63%, #032b15 102.45%);
}
.gradient-left-100-dark {
  background: linear-gradient(95.42deg, #0a3119 -0.63%, #041c0b 102.45%);
}

.gradient-left-80 {
  background: linear-gradient(95.42deg, rgba(217, 217, 217, 0.8) -0.63%, rgba(109, 109, 109, 0.8) 102.45%);
}

.btn {
  font-family: "Noto Sans", serif;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #003620;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #003620;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #055d37;
  --bs-btn-disabled-border-color: #0d6efd;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.168627451);
  font-size: 20px;
  font-weight: 700;
  border-radius: unset;
  border: unset;
  padding: 4px 12px !important;
  background: linear-gradient(180deg, #003620 68%, #003620 68%);
  box-shadow: inset 0px 5px 0px 0px #01482a, inset 0px -13px 0px 0px #014e2e, inset 0px -13px 0px 0px #023620, 0px -5px 0px 0px #04411e, 0px 2px 0px 4px #024021;
  transition: unset !important;
}
.btn-primary:hover, .btn-primary.active {
  background: linear-gradient(120.15deg, #faca07 6.55%, #f99f04 83.82%);
  box-shadow: inset 0px 5px 0px 0px #fffe02, inset 0px -13px 0px 0px #ffc700, inset 0px -13px 0px 0px #ffb900, 0px -5px 0px 0px #038742, 0px 2px 0px 4px #006238;
}

.footer {
  background: linear-gradient(93.93deg, #001E0F -3.69%, #002611 102.89%);
}
.footer__btn {
  width: 100%;
}

.nav__top {
  background: linear-gradient(155.67deg, #008A4F -182.82%, rgba(0, 74, 43, 0.76) 252.37%);
  border-bottom: 5px solid #206143;
}
.nav-auth {
  cursor: pointer;
}
.nav-auth:hover {
  background-color: var(--bs-secondary);
}
.nav-link:hover, .nav-link:active {
  color: var(--bs-white);
}

.navbar {
  background: linear-gradient(93.48deg, #002113 -40.35%, #00502e 146.61%);
  border-bottom: 2px solid #00502e;
}
.navbar .shop-btn {
  width: 380px;
}
@media (max-width: 1200px) {
  .navbar .shop-btn {
    width: 100%;
  }
}

.home-background .logo {
  width: 95%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-overbackground {
  z-index: 0;
  position: relative;
}
.home-overbackground::after {
  z-index: -1;
  content: "";
  position: absolute;
  inset: 0;
  top: 10%;
  height: 85%;
  background: linear-gradient(136.42deg, rgba(9, 46, 23, 0.6392156863) 8.89%, rgba(3, 26, 15, 0.6) 76.8%);
}
.home-stats {
  height: 440px;
  background: linear-gradient(168.2deg, rgba(71, 71, 71, 0) 12.3%, #022115 69.92%);
}
.home-stats .card-gradient-from-bottom {
  background: linear-gradient(169.97deg, #01190b -30.33%, #003e1d 92.48%);
}
@media (max-width: 1200px) {
  .home-stats {
    height: auto;
  }
}
.home-stats .container {
  position: relative;
  bottom: 70px;
}
.home-stats .card-stat {
  height: 412px;
  width: 348px;
}
@media (max-width: 1200px) {
  .home-stats .card-stat {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .first-post-img {
    height: 280px;
  }
}

.minecraft-steps {
  background: linear-gradient(118.02deg, rgba(10, 49, 29, 0.52) 32.86%, #03190d 96.83%);
}
.minecraft-steps__number {
  display: grid;
  place-items: center;
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
  background: linear-gradient(180deg, rgba(1, 108, 62, 0.6) 0%, rgba(0, 26, 15, 0.6) 100%);
  border-radius: 50%;
  color: white;
  font-weight: 600;
}
.minecraft-steps b {
  color: white;
  font-weight: 600;
}

#app {
  min-height: 130vh;
}

.app-background {
  z-index: -1;
  position: relative;
}
.app-background::after {
  content: "";
  position: absolute;
  inset: 0;
  background: red;
  background: linear-gradient(360deg, rgba(0, 40, 21, 0) 0%, rgba(0, 26, 15, 0.711) 91%), linear-gradient(360deg, #004A27 0.89%, rgba(0, 0, 0, 0) 72.26%);
}

#vote .minecraft-steps {
  background: unset;
}
#vote table th {
  width: 25%;
}
#vote table p {
  margin: 0 !important;
}
#vote .card-bottom-shadow {
  background: linear-gradient(118.02deg, #001d0f -17.14%, #01421f 66.83%);
}
#vote .vote-id {
  display: grid;
  place-items: center;
  min-width: 32px;
  min-height: 32px;
  width: 16px;
  height: 16px;
  background: linear-gradient(180deg, rgba(0, 17, 8, 0.76) 25.5%, #001F0F 100%);
}
#vote .vote-avatar {
  overflow: hidden;
  min-width: 48px;
  min-height: 48px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(0, 17, 8, 0.76) 25.5%, #002813 100%);
}
#vote .vote-avatar img {
  position: relative;
  bottom: -8px;
  -o-object-position: top;
     object-position: top;
}
#vote .vote-site {
  min-width: 200px;
  box-shadow: 0px 7px 0px 0px #016C3E;
  background: linear-gradient(179deg, #001d0f -17.14%, #01421f 66.83%);
}
#vote .vote-site .card {
  box-shadow: unset;
}
#vote .vote-amount {
  font-family: "Noto Sans", serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
#vote .vote-count {
  zoom: 1.3;
  background-color: #ffcb02;
  background-image: linear-gradient(33deg, #FFB800 0%, #FFDE00 60%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  line-height: 40px;
}

#path:has(.error) h1 {
  background: unset;
}
#path h1 {
  z-index: 2;
  position: relative;
  font-family: "Noto Sans", serif;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 8px 32px;
  background: linear-gradient(95.42deg, #011a0c -0.63%, #01160a 102.45%);
}
#path .card {
  background: linear-gradient(169.97deg, rgba(0, 2, 1, 0.88) -30.33%, rgba(0, 50, 23, 0.88) 92.48%);
  box-shadow: 0px 40px 27.6px 0px rgba(0, 0, 0, 0.2509803922), 0px 18px 0px 0px #016C3E, 0px -50px 0px 7px #022614, 0px 18px 0px 7px #022614, 0px 18px 0px 7px #036c3e;
  border-bottom: unset;
}

.list-group-item {
  background: linear-gradient(118.02deg, #00391a 32.86%, #002c15 96.83%) !important;
  border-color: #00502e !important;
}

.auth-form {
  position: relative;
  bottom: 0;
  transform: translateY(10%);
  box-shadow: -1px 0px 20px 6px rgba(0, 0, 0, 0.5019607843);
}

form .form-label, .form .form-label {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 6px !important;
}
form .form-control, .form .form-control {
  height: 48px;
  background: linear-gradient(89.41deg, #011609 3.15%, rgba(0, 38, 18, 0.6196078431) 101.98%);
  border-radius: unset !important;
  border: unset !important;
  box-shadow: 0 0 0 0.25rem #012f15;
}
form .form-control:focus, .form .form-control:focus {
  background: linear-gradient(89.41deg, #03190b 3.15%, #033218 101.98%);
  border-left: 5px solid #04431d !important;
  box-shadow: 0 0 0 0.25rem #023a1b;
  transition: unset;
}
form .form-check-label, .form .form-check-label {
  color: var(--vs-white);
}
form .form-check-input, .form .form-check-input {
  border-color: #BAD7BA !important;
  border-width: 2px;
}
form .btn-primary, .form .btn-primary {
  height: 48px;
  margin-top: 24px;
}

#profile .card-gradient-from-bottom {
  background: linear-gradient(169.97deg, #011208 -30.33%, #013218 92.48%);
}
#profile .badge {
  font-size: 10px;
}
#profile .profil-img {
  height: 282px;
  overflow: hidden;
}
#profile .profil-img-small {
  height: 48px;
  width: 48px;
  overflow: hidden;
  background: linear-gradient(128deg, #03210f -0.63%, #031309 102.45%);
  padding: 8px 8px 0 8px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
#profile .profil-img-small img {
  position: relative;
  top: -9px;
  right: 2px;
  width: 120%;
  -o-object-fit: contain;
     object-fit: contain;
}
#profile .profile-header {
  background: linear-gradient(169.97deg, rgb(2, 17, 9) -30.33%, rgb(3, 24, 13) 92.48%);
}
#profile hr {
  margin: 0 auto;
  height: 5px;
  background: #0e3c1c;
  border: unset;
  background: radial-gradient(51.07% 12417.39% at 51.07% 49.27%, #2c9f4f 0%, rgba(132, 132, 132, 0) 100%);
}
#profile h3 {
  font-size: 20px;
}
#profile p {
  font-size: 16px;
}

@media (max-width: 1400px) {
  .footer__btn {
    max-width: 406px;
  }
}
/* Width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ebebeb;
  -webkit-transition: background 0.123s linear;
  transition: background 0.123s linear;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(235, 235, 235, 0.95);
}

/* FIX PLUGINS FRONT */
#wiki_category_page .card-body {
  overflow: hidden;
}
#wiki_category_page .card-body img[width="17"][height="17"] {
  -o-object-fit: contain;
     object-fit: contain;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
