footer{
    a{
        transition: color ease-out $anim-delay-fast;

        &.social:hover{
            color: var(--social-color) !important;
        }
    }

    .clipboard{
        height: 44px;
    }
}
